PORT=5000
CLIENT_URL=http://localhost:5173
DB_NAME=employee_db
DB_USER=root
DB_PASS=
JWT_SECRET=your_jwt_secret_here

# Email Configuration (Brevo API)
BREVO_API_KEY=your_brevo_api_key_here
EMAIL_FROM=your_email_here
